*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}



/*Nav*/
#mobileNav{
    display:none;
}

#logo{
    text-align: center;
    padding-top: 30px;
    background: #edc7a3;
}

nav{
    position: absolute;
    top:10px;
    left: 10px;
}

nav a{
    display:block;
    text-decoration: none;
    color: #bc9876;
}


/*Bio*/
#bio{
    margin:50px;
}

#bio h1{
    background:#edc7a3;
    padding-left: 10px;
}

#bio img{
    display: block;
    float:right;
    padding: 20px;
}

#bio p{
    padding:20px;
}


/*Awards*/
#award{
    margin:50px;
}

#award h1{
    background:#edc7a3;
    padding-left: 10px;
}

#colContain{
    width:100%;
}

.col{
    float:left;
    width:33.33%;
}
.col ul{
    padding-left:50px;
    padding-top: 20px;
}


/*Works Button*/
#bttn{
    text-align: center;
}
#worksBttn{
    display: inline-block;
    background:#edc7a3;
    height:50px;
    margin-top: 50px;
    width:300px;
    text-align: center
}

#worksBttn a{
    color: black;
    display: inline-block;
    padding-top: 5px;
    font-size: 25px;
}


/*Works*/ 
#books{
    text-align: center;
}

#works{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 120px 10px 120px;
    background:#edc7a3;;

}

#picBook{
    margin:50px;
    margin-top: 20px;
}

#picBook h1{
    background:#edc7a3;
    padding-left: 10px;
    padding-top: 0px;
}

#hungerGames{
    margin:50px;
}

#hungerGames h1{
    background:#edc7a3;
    padding-left: 10px;
    padding-top:0px;
}

#greg{
    margin:50px;
}

#greg h1{
    background: #edc7a3;
    padding-left: 10px;
    padding-top:0px;
}

/*Book Cloumns*/
/*Picture Books*/
.pb{
    height:450px;
    margin:20px;
}

.pbImg{
    width:42%;
    display:inline-block;
    float: left;
    height:100%;

}

.pbD{
    width:58%;
    display:inline-block;
    height: 100%;

}

/*Hunger Games*/
.hg{
    height:550px;
    margin: 20px;
}

.hgImg{
    width:30%;
    display: inline-block;
    float: left;
}

.hgD{
    width: 70%;
    display: inline-block;
    height:100%;
    padding-left: 20px;
}

/*Gregor the overlander*/
.go{
    height:550px;
    margin: 20px;
}

.goImg{
    width:30%;
    display: inline-block;
    float: left;
}

.goD{
    width:70%;
    display: inline-block;
    float: left;
    padding-left: 20px;
}

footer{
    display:block;
}


/* Mobile */
@media screen and (max-width:575px){
    /*Navigation*/
    nav {
        position:static;
        display:none;
        text-align: center;
    }
    
    nav li{
        display:block;
    }
    
    nav a {
        width:100%;
        display:block;
        border:none;
        border-bottom: 1px solid black;
        color: black;
        text-decoration: none;
    }
    
    #mobileNav{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    #mobileNav a{
        text-decoration: none;
        color: black;
        padding 10px;
    }
    
    /*Bio*/
    #bio h1{
        text-align:center;
    }
    
    #bio img{
        max-width: 100%;
    }
    
    #award h1{
        text-align:center;
    }
    
    .col{
        width:100%
    }
    
    /*Works Page*/
    #picBook{
        text-align: center;
    }
    
    #hungerGames{
        text-align: center;
    }
    
    #greg{
        text-align: center;
    }
    .pb{
        display:none;
    }
    
    .hg{
        display:none;
    }
    
    .go{
        display:none;
    }

    
}

