*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}



/*Nav*/
#mobileNav{
    display:none;
}

#logo{
    text-align: center;
    padding-top: 30px;
    background: #edc7a3;
}

nav{
    position: absolute;
    top:10px;
    left: 10px;
}

nav a{
    display:block;
    text-decoration: none;
    color: #bc9876;
}


/*Bio*/
#bio{
    margin:50px;
}

#bio h1{
    background:#edc7a3;
    padding-left: 10px;
}

#bio img{
    display: block;
    float:right;
    padding: 20px;
}

#bio p{
    padding-top: 20px;
    padding-left: 20px;
}


/*Awards*/
#award{
    margin:50px;
}

#award h1{
    background:#edc7a3;
    padding-left: 10px;
}

.col{
    float:left;
    margin-left: 50px;
}

.col{
    width: 30%;
}


/*Works*/ 
#works h1{
    padding-left:20px;
    padding-top:20px;
}

/*Book Cloumns*/
.pb{
    height:450px;
}

.pbImg{
    width:40%;
    display:inline-block;
    float: left;
    height:100%;
}

.pbD{
    width:60%;
    display:inline-block;
    height: 100%;
}


.hg{
    height:550px;
}

.hgImg{
    width:40%;
    display: inline-block;
    float: left;
}

.hgD{
    width: 60%;
    display: inline-block;
    height:100%;
}


.go{
    height:550px;
}

.goImg{
    width:40%;
    display: inline-block;
    float: left;
}

.goD{
    width:40%;
    display: inline-block;
    float: left;
}




#picBook{
    margin:50px;
}

#picBook h2{
    background:#edc7a3;
    padding-left: 10px;
}

#hungerGames{
    margin:50px;
}

#hungerGames h2{
    background:#edc7a3;
    padding-left: 10px;
    height:50px;
}

#greg{
    margin:50px;
}

#greg h2{
    background: #edc7a3;
    padding-left: 10px;
}




/* Mobile */
@media screen and (max-width:575px){
    nav {
        position:static;
        display:none;
        text-align: center;
    }
    
    nav li{
        display:block;
    }
    
    nav a {
        width:100%;
        display:block;
        border:none;
        border-bottom: 1px solid black;
        color: black;
        text-decoration: none;
    }
    
    #mobileNav{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    #mobileNav a{
        text-decoration: none;
        color: black;
        padding 10px;
    }
    

    
}

