*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}



/*Nav*/
#mobileNav{
    display:none;
}

#logo{
    text-align: center;
    padding-top: 30px;
    background: #edc7a3;
}

nav{
    position: absolute;
    top:10px;
    left: 10px;
}

nav a{
    display:block;
    text-decoration: none;
    color: #bc9876;
}


/*Bio*/
#bio{
    margin:50px;
}

#bio h1{
    background:#edc7a3;
    padding-left: 10px;
}

#bio img{
    display: block;
    float:right;
    padding: 20px;
}

#bio p{
    padding:20px;
}


/*Awards*/
#award{
    margin:50px;
}

#award h1{
    background:#edc7a3;
    padding-left: 10px;
}

#colContain{
    width:100%;
}

.col{
    float:left;
    width:33.33%;
    height:100px;
}
.col ul{
    padding-left:50px;
    padding-top: 20px;
}


/*Works Button*/
#bttnCol{
    text-align: center;
}
#bttn{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 50px;
}
#worksBttn{
    text-align: center;
    background:#edc7a3;
    height:50px;
    width:300px;
}

#worksBttn a{
    color: black;
    display: inline-block;
    padding-top: 5px;
    font-size: 25px;

}


/*Works*/ 
#books{
    text-align: center;
}

#works{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 120px 10px 120px;
    background:#edc7a3;;

}

#picBook{
    margin:50px;
    margin-top: 20px;
}

#picBook h1{
    background:#edc7a3;
    padding-left: 10px;
    padding-top: 0px;
}

#hungerGames{
    margin:50px;
}

#hungerGames h1{
    background:#edc7a3;
    padding-left: 10px;
    padding-top:0px;
}

#greg{
    margin:50px;
}

#greg h1{
    background: #edc7a3;
    padding-left: 10px;
    padding-top:0px;
}

/*Book Cloumns*/
/*Picture Books*/
.pb{
    height:450px;
    margin:20px;
}

.pbImg{
    width:33%;
    display:inline-block;
    float: left;
    padding-left:50px;
    height:100%;
}

.pbD{
    width:45%;
    display:inline-block;
    height: 100%;

}
.pb img{
    padding-top:8px;
}

/*Hunger Games*/
.hg{
    height:550px;
    margin: 20px;
}

.hgImg{
    width:25%;
    display: inline-block;
    float: left;
    padding-left: 50px;
}

.hgD{
    width: 55%;
    display: inline-block;
    height:100%;

}
.hg img{
    padding-top: 8px;
}

/*Gregor the overlander*/
.go{
    height:550px;
    margin: 20px;
}

.goImg{
    width:25%;
    display: inline-block;
    float: left;
    padding-left: 50px;
}

.goD{
    width:55%;
    display: inline-block;
    float: left;
}

.go img{
    padding-top:8px;
}


/*Mobile...Ipad*/
@media screen and (max-width:1000px){
    /*Bio*/
    #bioImg{
        text-align: center;
    }
    #bio img{
        display: inline-block;
        float:none;
        text-align: center;
    }
    #bio p{
        padding-top: 0px;
    }
    .col{
        height:auto;
    }

    /*Picture Books*/
    .pb{
        height:450px;
    }
    .pbImg{
        padding-left: 0px;
    }
    
    .pb img{
        max-width: 100%;
    }
    .pbD{
        padding-left: 20px;
        padding-right: 0px;
    }
    
    /*Hunger Games*/
    .hgImg{
        padding-left: 0px;
    }
    .hg img{
        max-width: 100%;
    }
    
    .hg{
        height:450px;
    }
    .hgD{
        padding-right:0px;
        padding-left: 20px;
    }
    
    /*Gregor Overlander*/
    #greg{
        margin-bottom: 150px;
    }
    .go{
        height:350px;
    }
    .goImg{
        padding-left: 0px;
    }
    
    .go img{
        max-width: 100%;
        padding-left: 0px;
    }
    
    .goD{
        padding-right:0px;
        padding-left:20px;
    }
    


}

/* Mobile...IphoneX */
@media screen and (max-width:600px){
    /*Navigation*/
    nav {
        position:static;
        display:none;
        text-align: center;
    }
    
    nav li{
        display:block;
    }
    
    nav a {
        width:100%;
        display:block;
        border:none;
        border-bottom: 1px solid black;
        color: black;
        text-decoration: none;
    }
    
    #mobileNav{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    #mobileNav a{
        text-decoration: none;
        color: black;
        padding 10px;
    }
    
    /*Bio*/
    #bio h1{
        text-align:center;
    }
    
    #bio img{
        max-width: 100%;
    }
    
    #bio p{
        font-size: 12px;
    }
    
    #award h1{
        text-align:center;
    }
    
    #award li{
        font-size: 12px;
    }
    
    .col{
        width:100%;
        height: auto;
    }
    
    /*Works Page*/
    #books{
        display:none;
    }

    
    /* Picture Books*/
    #picBook h1{
        text-align: center;
    }
    .pb{
        margin:0;
        height:auto;
    }
    
    .pbImg, .pbD{
        width:100%;
        display:block;
    }
    .pbImg img{
        max-width:100%;
        padding:40px 20px 10px 20px;
    }
    
    .pbD h2, p{
        padding:0px 20px 0px 20px;
    }
    .pbD{
        padding-left:0px;
        padding-right: 0px;
    }

    /* Hunger Games*/
    #hungerGames h1{
        text-align: center;
    }
    .hg{
        margin:0;
        height:auto;
    }
    
    .hgImg, .hgD{
        width:100%;
        display:block;
    }
    .hgD{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .hgImg img{
        max-width:100%;
        padding:40px 20px 10px 20px;
    }
    
    .hgD h2, p{
        padding:0px 20px 0px 20px;
    }
    
    /* Gregor Overlander*/
    #greg h1{
        text-align: center;
    }
    .go{
        margin:0;
        height:auto;
    }
    
    .goImg, .goD{
        width:100%;
        display:block;
    }
    
    .goD{
        padding-left: 0px;
        padding-right: 0px;
    }
    .goD p{
        padding-left: 0px;
    }
    
    .goImg img{
        max-width:100%;
        text-align: center;
        padding:40px 0px 10px 0px;
    }
    

            
            


}

